// Color Pallete
$font-family: Helvetica, sans-serif;
$primary-color: #444;
$secondary-color: #6f65ff;
$task-bgc: #f3eee2;
$task-bgc-hover: #edd;
$text-color-primary: #444;
$text-color-secondary: #777;
$clear-all-btn-bgc: #ff3a61;

// Global use sizes
$border-radius-default: 10px;
$border-radius-sharp: 4px;

// Display flex, center center.
@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
@mixin sizeCoverAll {
  width: 100%;
  height: 100%;
}
* {
  font-family: $font-family;
  color: $text-color-primary;
  font-size: calc(min(calc(max(1em, 14px)), 25px));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul {
    list-style-type: none;
  }
}

body {
  font-size: 2vw;
  width: 100vw;
  height: 100vh;
  @include fcc();
  background: $primary-color;
  text-align: center;
  .main-container {
    width: calc(min(50%, 720px));
    height: 80vh;
    @include fcc();
    gap: 20px;
    h1 {
      font-size: 1.5em;
    }
    .new-todo-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .new-todo-input-container {
        @include fcc();
        width: 100%;
        #new-todo-input {
          width: 100%;
          min-width: none;
          padding: 5px 10px;
          border-radius: $border-radius-sharp;
          border: $text-color-secondary 1px solid;
        }
      }
      .new-todo-btn {
        width: 50px;
        height: 100%;
        padding: 0;
        font-size: 1.5em;
      }
    }
    .tasks-container {
      width: 100%;
      @include fcc();
      align-items: start;
      height: 80%;
      .all-tasks-list {
        overflow-y: scroll;
        @include sizeCoverAll();
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: start;
        gap: 10px;
        .task-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          background-color: $task-bgc;
          border-radius: $border-radius-sharp;
          padding: 10px;
          &:hover {
            cursor: pointer;
            background-color: $task-bgc-hover;
          }
        }
      }
    }
    .task-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .clear-all-btn {
        background-color: $clear-all-btn-bgc;
      }
    }
  }
}
.card {
  background-color: #fff;
  border-radius: $border-radius-default;
  padding: 5%;
}

button {
  @include fcc();
  border: none;
  border-radius: $border-radius-default;
  text-align: center;
  padding: 10px 10px;
  background-color: $secondary-color;
  color: white;
  transition-duration: 0.2s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:active {
    transform: scale(0.8);
  }
}
