// Color Pallete
$font-family: Helvetica, sans-serif;
$primary-color: #444;
$secondary-color: #fff;
$add-task-btn-color: #6f65ff;
$task-bgc: #e5effd;
$task-bgc-hover: #e0d4fd;
$text-color-primary: #444;
$text-color-secondary: #777;
$clear-all-btn-bgc: #ff3a61;
$signature-color: #ffde8c;
$edit-task-btn-bgc: #46bd46;
$delete-task-btn-bgc: crimson;

// Global use sizes
$border-radius-default: 10px;
$border-radius-sharp: 4px;

// Display flex, center center.
@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
@mixin sizeCoverAll {
  width: 100%;
  height: 100%;
}
* {
  font-family: $font-family;
  color: $text-color-primary;
  font-size: calc(min(calc(max(1em, 14px)), 25px));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul {
    list-style-type: none;
  }
}

body {
  font-size: 2vw;
  width: 100vw;
  height: 100vh;
  @include fcc();
  background: $primary-color;
  text-align: center;
  .main-container.card {
    width: calc(min(75%, 1024px));
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 2.5%;
    h1 {
      font-size: 1.5em;
    }
    .new-task-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .new-task-input-container {
        @include fcc();
        width: 100%;
        #new-task-input {
          width: 100%;
          min-width: none;
          padding: 5px 10px;
          border-radius: $border-radius-sharp;
          border: $text-color-secondary 1px solid;
        }
      }
      .add-new-task-btn {
        width: 50px;
        height: 100%;
        padding: 0;
        font-size: 1.5em;
      }
    }
    .all-tasks-container {
      width: 100%;
      @include fcc();
      align-items: start;
      height: 80%;
      overflow-y: auto;
      .all-tasks-list {
        @include sizeCoverAll();
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: start;
        gap: 10px;
        .task-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          background-color: $task-bgc;
          border-radius: $border-radius-sharp;
          padding: 10px;
          &:hover {
            cursor: pointer;
            background-color: $task-bgc-hover;
          }
          .task-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .task-btns-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .edit-task {
              background-color: $edit-task-btn-bgc;
            }
            .delete-task {
              background-color: $delete-task-btn-bgc;
            }
          }
        }
      }
    }
    .task-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .clear-all-btn {
        background-color: $clear-all-btn-bgc;
      }
    }
  }
  .signature {
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: end;
    position: fixed;
    color: $secondary-color;
    transition: 0.8s;
    &:hover {
      text-shadow: 1px 1px 2px $text-color-primary, 0 0 50px $secondary-color,
        0 0 2px $secondary-color;
    }
  }
}
.card {
  background-color: #fff;
  border-radius: $border-radius-default;
  padding: 5%;
}

button {
  @include fcc();
  border: none;
  border-radius: $border-radius-default;
  text-align: center;
  padding: 10px 10px;
  background-color: $add-task-btn-color;
  color: white;
  transition-duration: 0.2s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:active {
    transform: scale(0.8);
  }
}
